.typewriter-text {
    border-right: 2px solid black; /* Cursor appearance */
    white-space: nowrap; /* Keep the text on a single line */
    overflow: hidden; /* Hide text that overflows */
    font-family: monospace; /* Gives the typewriter font effect */
    padding: 0 5px;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(17, 53, 131);
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .typewriter-text {
    animation: blink 0.75s step-end infinite; /* Cursor blinking effect */
    overflow: hidden;
  }
  